 
.container {
  width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #41587d;
}

h1 {
  margin: 30px;
  font-family:  cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #97cf44;
}

p {
  font-size: 2rem;
  color: #9acc4e;
  font-family:  cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family:  cursive;

}
.play{
  margin-top: 40px;
  width:130px;
  height: 30px;
  border-radius: 5px;
  background-color: red;
  color: white;
}
.play:hover{
  background-color: white;
  color: red;
}
@media(max-width:1200px){
    .container{
      margin-top: 150px;
    }
}